<script lang="ts" setup>
import { IUser } from "@/@fake-db/apps/chat"
import type { ChatContact, ChatContactWithChat } from '@/@fake-db/types'
import { useChat } from '@/views/apps/chat/useChat'
import { useChatStore } from '@/views/apps/chat/useChatStore'
import { avatarText, formatDateToMonthShort } from '@core/utils/formatters'
import { use } from "@vuex-orm/core"

interface Props {
  isChatContact?: boolean
  user: IUser
}

const props = withDefaults(defineProps<Props>(), {
  isChatContact: false,
})

const store = useChatStore()
const { resolveAvatarBadgeVariant } = useChat()

const isChatContactActive = computed(() => {
  const isActive = store.activeChat?.contact.id === props.user.id
  if (!props.isChatContact)
    return !store.activeChat?.chat && isActive

  return isActive
})
</script>

<template>
  <li
    :key="store.users.length"
    class="chat-contact cursor-pointer d-flex align-center"
    :class="{ 'chat-contact-active': isChatContactActive }"
    :data-x="store.users.length"
  >
    <VBadge
      dot
      location="bottom right"
      offset-x="3"
      offset-y="3"
      :color="props.user.online ? 'success' : 'warning'"
      bordered
      :model-value="props.isChatContact"
    >
      <VAvatar
        size="40"
        :variant="!props.user.profile?.avatar.contentUrl ? 'tonal' : undefined"
        :color="!props.user.profile?.avatar.contentUrl ? props.user.online ? 'success' : 'warning' : undefined"
      >
        <VImg
          v-if="props.user.profile"
          :src="props.user.profile.avatar.contentUrl"
          alt="John Doe"
        />
        <span v-else>{{ avatarText(user.profile.firstName + user.profile.lastName) }}</span>
      </VAvatar>
    </VBadge>
    <div class="flex-grow-1 ms-4 overflow-hidden">
      <span class="text-high-emphasis font-weight-medium">{{ user.profile.firstName + user.profile.lastName }}</span>
      <span class="d-block text-sm text-truncate">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, impedit.
<!--        {{ props.isChatContact && 'chat' in props.user ? props.user.chat.lastMessage.message : props.user.about }}-->
      </span>
    </div>
<!--    <div-->
<!--      v-if="props.isChatContact && 'chat' in props.user"-->
<!--      class="d-flex flex-column align-self-start"-->
<!--    >-->
<!--      <span class="d-block whitespace-no-wrap">{{ formatDateToMonthShort(props.user.chat.lastMessage.time) }}</span>-->
<!--      <VBadge-->
<!--        v-if="props.user.chat.unseenMsgs"-->
<!--        color="error"-->
<!--        inline-->
<!--        :content="props.user.chat.unseenMsgs"-->
<!--        class="ms-auto"-->
<!--      />-->
<!--    </div>-->
  </li>
</template>

<style lang="scss">
@use "@styles/variables/_vuetify.scss";
@use "@core/scss/base/mixins";
@use "vuetify/lib/styles/tools/states" as vuetifyStates;

.chat-contact {
  border-radius: 0.5rem;
  padding-block: 0.75rem;
  padding-inline: var(--chat-content-spacing-x);

  @include mixins.before-pseudo;
  @include vuetifyStates.states($active: false);

  &.chat-contact-active {
    background: linear-gradient(270deg, rgb(var(--v-theme-primary)) 0%, #fff 300%);
    color: #fff;

    --v-theme-on-background: #fff;

    .v-avatar {
      background: #fff;
    }
  }

  .v-badge--bordered .v-badge__badge::after {
    color: #fff;
  }

  &.chat-contact-active {
    background: rgb(var(--v-theme-primary));
    color: #fff;

    --v-theme-on-background: #fff;
  }
}
</style>
