<script setup lang="ts">
import CrmAward from '@/views/dashboard/crm/CrmAward.vue'
import CrmExternalLinks from '@/views/dashboard/crm/CrmExternalLinks.vue'
import CrmGrowthDonutCharts from '@/views/dashboard/crm/CrmGrowthDonutCharts.vue'
import CrmMeetingSchedule from '@/views/dashboard/crm/CrmMeetingSchedule.vue'
import CrmMonthlyBudget from '@/views/dashboard/crm/CrmMonthlyBudget.vue'
import CrmMostSalesInCountries from '@/views/dashboard/crm/CrmMostSalesInCountries.vue'
import CrmOrganicSessions from '@/views/dashboard/crm/CrmOrganicSessions.vue'
import CrmPaymentHistory from '@/views/dashboard/crm/CrmPaymentHistory.vue'
import CrmProfitBarWithGapCharts from '@/views/dashboard/crm/CrmProfitBarWithGapCharts.vue'
import CrmProjectTimeline from '@/views/dashboard/crm/CrmProjectTimeline.vue'
import CrmSocialNetworkVisits from '@/views/dashboard/crm/CrmSocialNetworkVisits.vue'
import CrmUserList from '@/views/dashboard/crm/CrmUserList.vue'
import CrmWeeklyOverview from '@/views/dashboard/crm/CrmWeeklyOverview.vue'
import ApexChartAreaChart from "@/views/charts/apex-chart/ApexChartAreaChart.vue";
import User from "@/app/entities/User";
import Comment from "@/app/entities/Comment";
import Practice from "@/app/entities/Practice";
import Question from "@/app/entities/Question";

const created = () => {
  // Assuming this data structure is the response from the API backend.
  const posts = [
    {
      id: 1,
      title: 'Hello, world!',
      body: 'Some awesome body...',
      author: {
        id: 1,
        name: 'John Doe',
        email: 'john@example.com'
      }
    }
  ]

  User.insert({ data: {
      name: 'John Doe',
      email: 'john@example.com'
    } })

  console.log(User.all())

  Comment.insert({data: {
    name: 'asdasdsa'
    }})
  Practice.insert({data: {
    name: 'asdasdsa'
    }})
  Question.insert({data: {
    name: 'asdasdsa'
    }})

  console.log(Comment.all())
  console.log(Practice.all())
  console.log(Question.all())
}

onMounted(() => {
  created()
})
</script>

<template>
  <VRow class="match-height">
    <!-- 👉 Award -->
    <VCol
      cols="12"
      md="4"
    >
      <CrmAward />
    </VCol>

    <!-- 👉 Total Orders -->
    <VCol
      cols="12"
      sm="3"
      md="2"
    >
      <CardStatisticsVertical
        v-bind="{
          title: 'Total Orders',
          color: 'primary',
          icon: 'mdi-cart-plus',
          stats: '155k',
          change: 22,
          subtitle: 'Last 4 Month',
        }"
      />
    </VCol>

    <VCol cols="12">
      <VCard>
        <VCardItem class="d-flex flex-wrap justify-space-between gap-4">
          <VCardTitle>Area Chart</VCardTitle>
          <VCardSubtitle>Commercial networks</VCardSubtitle>

          <template #append>
            <div class="date-picker-wrapper">
              <AppDateTimePicker
                model-value="2022-06-09"
                prepend-inner-icon="mdi-calendar-blank-outline"
                density="compact"
                placeholder="Select Date"
                :config="{ position: 'auto right' }"
              />
            </div>
          </template>
        </VCardItem>

        <VCardText>
          <ApexChartAreaChart />
        </VCardText>
      </VCard>
    </VCol>
  </VRow>
</template>

<style lang="scss">
@use "@core/scss/template/libs/apex-chart.scss";
</style>
