<template>
  <div class="demo-space-x">
    <VChip>
      <VIcon
        start
        size="18"
        icon="mdi-account-outline"
      />
      Account
    </VChip>

    <VChip color="primary">
      <VIcon
        start
        size="18"
        icon="mdi-star-outline"
      />
      Premium
    </VChip>

    <VChip color="secondary">
      <VIcon
        start
        size="18"
        icon="mdi-cake"
      />
      1 Year
    </VChip>

    <VChip color="success">
      <VIcon
        start
        size="18"
        icon="mdi-bell-outline"
      />
      Notification
    </VChip>

    <VChip color="info">
      <VIcon
        start
        size="18"
        icon="mdi-forum-outline"
      />
      ChatMessage
    </VChip>

    <VChip color="warning">
      <VIcon
        start
        size="18"
        icon="mdi-alert-outline"
      />
      Warning
    </VChip>

    <VChip color="error">
      <VIcon
        start
        size="18"
        icon="mdi-alert-circle-outline"
      />
      Error
    </VChip>
  </div>
</template>
