<script setup lang="ts">
import { useGenerateImageVariant } from '@/@core/composable/useGenerateImageVariant'
import ErrorDTO from "@/app/dto/response/ErrorDTO"
import AuthService from "@/app/services/auth/AuthService"
import AuthProvider from '@/views/pages/authentication/AuthProvider.vue'
import authV1RegisterMaskDark from '@images/pages/auth-v1-register-mask-dark.png'
import authV1RegisterMaskLight from '@images/pages/auth-v1-register-mask-light.png'
import { VNodeRenderer } from '@layouts/components/VNodeRenderer'
import { themeConfig } from '@themeConfig'

import type { VForm } from 'vuetify/components/VForm'
import { emailValidator, requiredValidator, passwordValidator } from '@validators'
import type { CustomInputContent } from '@core/types'

const router = useRouter()
const authV1ThemeRegisterMask = useGenerateImageVariant(authV1RegisterMaskLight, authV1RegisterMaskDark)

const radioContent: CustomInputContent[] = [
  {
    title: 'Client',
    desc: '',
    value: 'client'
  },
  {
    title: 'Manager',
    desc: '',
    value: 'manager',
  }
]

const form = ref({
  userType: 'client',
  email: 'sasha@mail.com',
  plainPassword: 'SashaSasha#777',
  privacyPolicies: true,
})
const refForm = ref<VForm>()
const isPasswordVisible = ref(false)

const signUp = (email: string, plainPassword: string, userType: string) => {
  AuthService.registration({ email, plainPassword, userType })
    .then((r) => router.push('/app/signin'))
    .catch((e: ErrorDTO) => console.log(e))
}
</script>

<template>
  <div class="auth-wrapper d-flex align-center justify-center pa-4">
    <VCard
      class="auth-card pa-2 pt-7"
      max-width="448"
    >
      <VCardItem class="justify-center">
        <template #prepend>
          <div class="me-n2">
            <VNodeRenderer :nodes="themeConfig.app.logo" />
          </div>
        </template>

        <VCardTitle class="font-weight-bold text-2xl text-capitalize">
          {{ themeConfig.app.title }}
        </VCardTitle>
      </VCardItem>

      <VCardText class="pt-2">
        <h5 class="text-h5 mb-1">
          Adventure starts here 🚀
        </h5>
        <p class="mb-0">
          Make your learning simple and fun!
        </p>
      </VCardText>

      <VCardText>
        <VForm @submit.prevent="signUp(form.email, form.plainPassword, form.userType)">
          <VRow>

            <!-- Role -->
            <VCol cols="12">
              <CustomRadios
                v-model:selected-radio="form.userType"
                :radio-content="radioContent"
                :grid-column="{ sm: '6', cols: '12' }"
              />
            </VCol>
            <!-- email -->
            <VCol cols="12">
              <VTextField
                v-model="form.email"
                label="Email"
                type="email"
                placeholder="johndoe@email.com"
                :rules="[requiredValidator, emailValidator]"
              />
            </VCol>

            <!-- password -->
            <VCol cols="12">
              <VTextField
                v-model="form.plainPassword"
                label="Password"
                placeholder="············"
                :type="isPasswordVisible ? 'text' : 'password'"
                :rules="[requiredValidator, passwordValidator]"
                :append-inner-icon="isPasswordVisible ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
                @click:append-inner="isPasswordVisible = !isPasswordVisible"
              />
              <div class="d-flex align-center mt-1 mb-4">
                <VCheckbox
                  id="privacy-policy"
                  v-model="form.privacyPolicies"
                  inline
                />
                <VLabel
                  for="privacy-policy"
                  style="opacity: 1;"
                >
                  <span class="me-1">I agree to</span>
                  <a
                    href="javascript:void(0)"
                    class="text-primary"
                  >privacy policy & terms</a>
                </VLabel>
              </div>

              <VBtn
                block
                type="submit"
                @click="refForm?.validate()"
              >
                Sign up
              </VBtn>
            </VCol>

            <!-- login instead -->
            <VCol
              cols="12"
              class="text-center text-base"
            >
              <span>Already have an account?</span>
              <RouterLink
                class="text-primary ms-2"
                :to="{ name: 'app-signin' }"
              >
                Sign in instead
              </RouterLink>
            </VCol>

            <VCol
              cols="12"
              class="d-flex align-center"
            >
              <VDivider />
              <span class="mx-4">or</span>
              <VDivider />
            </VCol>

            <!-- auth providers -->
            <VCol
              cols="12"
              class="text-center"
            >
              <AuthProvider />
            </VCol>
          </VRow>
        </VForm>
      </VCardText>
    </VCard>
    <VImg
      :src="authV1ThemeRegisterMask"
      class="d-none d-md-block auth-footer-mask"
    />
  </div>
</template>

<style lang="scss">
@use "@core/scss/template/pages/page-auth.scss";
</style>

<route lang="yaml">
meta:
  layout: blank
</route>
